# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# SQLite database
backend/mini_ledger.db
*.db

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.history/
